@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$cpsFontFamily: 'Open Sans', sans-serif;

$cpsFontSizeTitle: 3.75; // Value in rem unit WITHOUT rem
$cpsFontSizeHeading1: 2.25;
$cpsFontSizeHeading2: 1.875;
$cpsFontSizeHeading3: 1.3125;
$cpsFontSizeParagraph: 1;
$cpsFontSizeCaption: 1;

$cpsFontWeightBold: 700;
$cpsFontWeightSemiBold: 600;
$cpsFontWeightRegular: 400;
$cpsFontWeightLight: 300;
